<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">

                <!-- Header -->
                <div class="header mt-md-5">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Pretitle -->
                                <h6 class="header-pretitle">
                                    Módulo
                                </h6>

                                <!-- Title -->
                                <h1 class="header-title">
                                    Productos para Calculadora Solar
                                </h1>

                            </div>
                        </div> <!-- / .row -->

                    </div>
                </div>

                <!-- Alert -->


                <ng-container *ngIf="!load_data">
                    <!-- Card -->
                    <form *ngIf="producto!=undefined" #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
                        <div class="card">
                            <div class="card-header">

                                <!-- Title -->
                                <h4 class="card-header-title">
                                    Agregar Dispositivo a la Calculadora Solar: {{producto.titulo}}
                                </h4>

                            </div>

                            <div *ngIf="!load_data" class="card-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12 form-group">

                                                <!-- Inicia Si selecciona un Panel Solar -->

                                                <div class="form" *ngIf="producto.tipo=='panel_solar'">
                                                    <div class="row">

                                                        <!-- Inicio Formulario -->
                                                        <form #registroPanelForm="ngForm"
                                                            (ngSubmit)="registroPanel(registroPanelForm)">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-header-title">
                                                                        Tension (V) / Potencia (W)
                                                                    </h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Voltaje en Circuito Abierto
                                                                                VOC</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="VOC" required name="voc"
                                                                                [(ngModel)]="panel.voc">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Intensidad a Maxima Potencia
                                                                                IMP</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="imp" required name="imp"
                                                                                [(ngModel)]="panel.imp">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Voltaje a maxima Potencia
                                                                                (VMP)</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="vmp" required name="vmp"
                                                                                [(ngModel)]="panel.vmp">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Intensidad en Corto Circuito
                                                                                (ISC)</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="isc" required name="isc"
                                                                                [(ngModel)]="panel.isc">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Eficiencia (%)</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="eficiencia" required
                                                                                name="eficiencia"
                                                                                [(ngModel)]="panel.eficiencia">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Tensión de Trabajo</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="tension" required
                                                                                name="tension"
                                                                                [(ngModel)]="panel.tension">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">potencia (W)</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="potencia" required
                                                                                name="potencia"
                                                                                [(ngModel)]="panel.potencia">
                                                                        </div>



                                                                    </div>
                                                                </div>

                                                                <div class="card-footer">
                                                                    <button class="btn btn-primary btn-shadow"
                                                                        type="submit">Guardar</button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                        <!-- Fin formulario -->
                                                    </div>
                                                </div>

                                                <!-- Finaliza si selecciona Panel Solar -->



                                                <!--  Inicia Si selecciona un CONTROLADOR -->

                                                <div class="form" *ngIf="producto.tipo=='controlador'">
                                                    <div class="row">
                                                        <!-- Inicio Formulario -->
                                                        <form #registroControladorForm="ngForm"
                                                            (ngSubmit)="registroControlador(registroControladorForm)">

                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-header-title">
                                                                        Controlador
                                                                    </h4>
                                                                </div>

                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 form-group">
                                                                            <label for="">Tipo De Controlador</label>
                                                                            <select select class="form-control custom-select"
                                                                            id="tipo_controlador" name="tipo_controlador"
                                                                            [(ngModel)]="controlador.tipo">
                                                                                <option value="" selected disabled>¿Tipo de Controlador?
                                                                                </option>
                                                                                <option value="pwm">PWM</option>
                                                                                <option value="MPPT">MPPT</option>
                                                                            </select>
                                                                        </div>
                
                                                                        <div class="col-lg-12 form-group">
                                                                            <label for="">Amperaje</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Amperaje" required name="amperaje"
                                                                                [(ngModel)]="controlador.amperaje">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label for="">Tension (V) / Potencia (W)</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-4 form-group">
                                                                            
                                                                            <label for="">Voltajes</label>
                                                                            <select class="form-control custom-select"
                                                                                id="voltaje" name="voltaje"
                                                                                [(ngModel)]="voltaje">
                                                                                <option value="" selected disabled>
                                                                                    -------</option>
                                                                                <option value="12">12 V</option>
                                                                                <option value="24">24 V</option>
                                                                                <option value="48">48 V</option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="col-lg-4 form-group">
                                                                            <label for="">Potencia (W)</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Potencia"
                                                                                name="potencia"
                                                                                [(ngModel)]="potencia">
                                                                        </div>

                                                                        <div class="col-lg-4 form-group">

                                                                            <a type="button"
                                                                            class="btn btn-success btn-sm"
                                                                            (click)="addCampo()">Agregar</a>
                                                                        </div>

                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12 form-group"
                                                                        *ngIf="controlador.max_potencia_paneles.length>=1 ">
                                                                        <div
                                                                            *ngFor="let item of controlador.max_potencia_paneles; let i=index">
                                                                            <div class="mb-1">
                                                                                <span>{{item.voltaje}} V --- {{item.potencia}} W </span>
                                                                                <a type="button"
                                                                                    class="btn btn-danger btn-sm"
                                                                                    (click)="borrar(i)">Eliminar</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>

                                                                <div class="card-footer">
                                                                    <button class="btn btn-primary btn-shadow"
                                                                    type="submit">Guardar</button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                                <!-- Finaliza si selecciona Controlador -->


                                                <!-- Inicia Si selecciona un Inversor -->
                                                <div class="form" *ngIf="producto.tipo=='inversor'">
                                                    <div class="row">

                                                        <!-- Inicio Formulario -->
                                                        <form #registroInversorForm="ngForm"
                                                            (ngSubmit)="registroInversor(registroInversorForm)">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-header-title">
                                                                        Inversor
                                                                    </h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Potencia</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="potencia" required
                                                                                name="potencia"
                                                                                [(ngModel)]="inversor.potencia">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Voltaje de Entrada DC</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Voltaje de entrada en DC"
                                                                                required name="entrada_dc"
                                                                                [(ngModel)]="inversor.entrada_dc">
                                                                        </div>
                                                                    </div>

                                                                    <!--  -->
                                                                    <div class="row">

                                                                        <div class="col-lg-4 form-group">
                                                                            <label for="">Voltajes de Salida</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Voltaje Salida AC"
                                                                                name="voltaje_salida_inversor_ac"
                                                                                [(ngModel)]="voltaje_salida_inversor_ac">
                                                                        </div>

                                                                        <div class="col-lg-4 form-group">
                                                                            <a type="button"
                                                                                class="btn btn-success btn-shadow"
                                                                                (click)="addVoltaje_Salida_Inversor()">Agregar</a>

                                                                        </div>

                                                                        <div class="col-lg-4 form-group"
                                                                            *ngIf="inversor.salida_ac.length>=1 ">
                                                                            <div
                                                                                *ngFor="let item of inversor.salida_ac; let i=index">
                                                                                <div class="mb-1">
                                                                                    <span>{{item}} V </span>
                                                                                    <a type="button"
                                                                                        class="btn btn-danger btn-sm"
                                                                                        (click)="borrar_salida_inversor(i)">Eliminar</a>

                                                                                </div>

                                                                            </div>

                                                                        </div>


                                                                    </div>
                                                                    <!--  -->


                                                                </div>

                                                                <div class="card-footer">
                                                                    <button class="btn btn-primary btn-shadow"
                                                                        type="submit">Guardar</button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                        <!-- Fin formulario -->
                                                    </div>
                                                </div>

                                                <!-- Finaliza si selecciona un Inversor -->

                                                <!-- Inicia Si selecciona Bateria -->
                                                <div class="form" *ngIf="producto.tipo=='bateria'">
                                                    <div class="row">

                                                        <!-- Inicio Formulario -->
                                                        <form #registroBateriaForm="ngForm"
                                                            (ngSubmit)="registroBateria(registroBateriaForm)">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-header-title">
                                                                        Baterías
                                                                    </h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Voltaje</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Voltaje" required
                                                                                name="voltaje"
                                                                                [(ngModel)]="bateria.voltaje">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Amperaje</label>
                                                                            <input type="number" class="form-control"
                                                                                placeholder="Amperaje" required
                                                                                name="amperaje"
                                                                                [(ngModel)]="bateria.amperaje">
                                                                        </div>

                                                                        <div class="col-lg-6 form-group">
                                                                            <label for="">Tecnología de la
                                                                                Bateria</label>
                                                                            <select class="form-control custom-select"
                                                                                id="tecnologia_bateria" required
                                                                                name="tecnologia_bateria"
                                                                                [(ngModel)]="bateria.tecnologia">
                                                                                <option value="" selected disabled>
                                                                                    ------------</option>
                                                                                <option value="agm">AGM</option>
                                                                                <option value="gel">GEL</option>
                                                                                <option value="lifepo4">LiFePO4</option>
                                                                                <option value="otra">Otra</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="card-footer">
                                                                    <button class="btn btn-primary btn-shadow"
                                                                        type="submit">Guardar</button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                        <!-- Fin formulario -->
                                                    </div>
                                                </div>

                                                <!-- Finaliza si selecciona Bateria -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="col-lg-12 form-group">	
                                            <img [src]="producto.portada" class="img-thumbnail" alt="Rounded image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="load_data">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="spinner-border" style="width: 3rem; height: 3rem;"
                                                role="status">
                                                <span class="visually-hidden"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </form>
                    <ng-container *ngIf="producto == undefined">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-5 col-xl-4 my-5">

                                        <div class="text-center">

                                            <!-- Preheading -->
                                            <h6 class="text-uppercase text-muted mb-4">
                                                404 error
                                            </h6>

                                            <!-- Heading -->
                                            <h1 class="display-4 mb-3">
                                                There’s no page here 😭
                                            </h1>

                                            <!-- Subheading -->
                                            <p class="text-muted mb-4">
                                                Looks like you ended up here by accident?
                                            </p>

                                            <!-- Button -->
                                            <a [routerLink]="['/productos']" class="btn btn-lg btn-primary">
                                                Regresar a productos
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="load_data">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div> <!-- / .row -->
    </div>
</div>