<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>Impacto social</h2>
            
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">Creemos en el poder de la energía solar para transformar el mundo y estamos comprometidos a seguir trabajando por la promoción de una energía más limpia, equitativa y accesible para todos.</h4>
            </div>
            <div class="mb-100 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img src="assets/images/embajador/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">E</span>n nuestra empresa, estamos comprometidos con el impacto social y creemos que la energía solar es una solución clave para promover la sostenibilidad y la equidad en las comunidades. Ofrecemos equipos con tecnología de punta que funcionan con energía solar, lo que permite a nuestros clientes tener acceso a fuentes de energía limpias y renovables.</p>
              <p><span class="cap">N</span>o solo ofrecemos una alternativa más sostenible a la energía tradicional, sino que también estamos haciendo nuestra parte para reducir las desigualdades energéticas en las zonas rurales y marginadas. Ofrecemos nuestros equipos a precios accesibles y trabajamos con organizaciones sin fines de lucro para llevar nuestra tecnología a las comunidades más necesitadas.</p>
              <p><span class="cap">S</span>abemos que la energía es un derecho humano fundamental y estamos comprometidos a hacer nuestra parte para asegurar que todos tengan acceso a ella. Con nuestros equipos de energía solar, estamos ayudando a reducir la brecha energética y a mejorar la calidad de vida de miles de personas.</p>
              <!-- <p><span class="cap">C</span></p> -->
            </div>
            <div class="ps-post__text mb-0" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-1.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-2.jpg" alt=""></div>
                </div>
              </div>
              
            </div>


          </div>
          
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
