 /* Style the form */
 #regForm {
    /*background-color: #f30d0d;*/
    margin: 10px auto;
    padding: 40px;
    width: 100%;
    min-width: 300px;
    }
    
    /* Style the input fields */
    input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #1751f0;
    }
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
    background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .tab {
    display: none;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    }
    
    /* Mark the active step: */
    .step.active {
    opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
    background-color: #04AA6D;
    }







    .clase1 {
      color:red;
      background-color:blue;
  }
  
  .clase2 {
      font-size:20px;
      font-family: 'Courier New', Courier, monospace;
  }

/*Inicia arreglo calculadora*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: black;
    font-family: roboto, sans-serif;
}


.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas:"contenido"
                        "indicador_paso";
}

.contenedor .contenido{
    /*background: #12203E;*/
    color: #fff;
    grid-area: contenido;
}

.contenedor .indicador_paso{
    /*background: #12203E;*/
    color: #fff;
    grid-area: indicador_paso;
}