<app-nav></app-nav>

<div id="homepage-default">  
<!--inicio Prueba-->  

<div class="row" style="margin-bottom: 10px;">
<!--inicia-->
<div class="owl-slider owl-slider_1" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0"
                     data-owl-nav="false" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1"
                     data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="off">
                    <div class="item_slider"><img src="assets/images/home/banner_1.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/blog_1.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/blog_2.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/blog_3.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/banner_0.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/blog_3.jpg" alt=""></div>
                    <div class="item_slider"><img src="assets/images/home/blog_3.jpg" alt=""></div>
                </div>
<!--finaliza-->
    </div>
<!--fin prueba-->  

    <div class="ps-home-collection-2">
        <figure>
            <div class="ps-block--collection-2 left">
                <div class="ps-block__thumbnail bg--top-right"
                     data-background="assets/images/home/1.jpg"></div>
                <div class="ps-block__content">
                    <h4>{{ 'inicio.item_dos' | translate }}</h4>
                    <a class="ps-link--under"  [routerLink]="['/productos']">{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
        <figure>
            <div class="ps-block--collection-2 center white">
                <div class="ps-block__thumbnail bg--cover"
                     data-background="assets/images/home/2.jpg"></div>
                <div class="ps-block__content">
                    <h4>{{ 'inicio.item_tres' | translate }}</h4>
                    <a class="ps-link--under"  [routerLink]="['/productos/categoria/accesorios']" >{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
        <figure>
            <div class="ps-block--collection-2 right">
                <div class="ps-block__thumbnail bg--top-left"
                     data-background="assets/images/home/3.jpg"></div>
                <div class="ps-block__content">
                    <h4>Proyectos</h4>
                    <a class="ps-link--under" [routerLink]="['/productos/categoria/packs']">{{ 'inicio.item_seis' | translate }}</a>
                </div>
            </div>
        </figure>
    </div>

<!--Destacados-->

<!--Lo Ultimo-->
    <div class="ps-section ps-home-product" style="padding-bottom: 60px !important;padding-top: 100px !important;">
        <div class="container">
            <div class="ps-section__header">
                <figure>
                    <figcaption>{{ 'inicio.item_ocho' | translate }}</figcaption>
                    <p>{{ 'inicio.item_nueve' | translate }}</p>
                </figure>
                <ul>
                    <li class="active"><a>{{ 'inicio.item_ocho' | translate }}</a></li>
                    <li><a style="cursor: pointer;" [routerLink]="['/productos']">{{ 'inicio.item_diez' | translate }}</a></li>
                </ul>
            </div>
            <div class="ps-section__content">
                <div class="row" *ngIf="new_productos.length >= 1">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 " *ngFor="let item of new_productos">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                              <!--<img class="ps-product__image"  [src]="url +'obtener_portada/'+item.portada" alt=""/>
                              <img class="ps-product__image-alt" [src]="url +'obtener_portada/'+item.galeria[0].imagen" alt=""/>-->

                              <img class="ps-product__image"  [src]="item.portada" alt=""/>
                              <img class="ps-product__image-alt" [src]="item.galeria[0].imagen" alt=""/>

                              <a class="ps-product__overlay" [routerLink]="['/productos/'+item.slug]"></a>
                                <div class="ps-product__actions">
                                    <a [routerLink]="['/productos/'+item.slug]"> Al carrito</a>
                                </div>
                            </div>
                            <div class="ps-product__content">
                                <a class="ps-product__title" [routerLink]="['/productos/'+item.slug]">{{item.titulo}}</a>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <span><i class="text-warning fa fa-star"></i></span>
                                  <p class="ps-product__price">
                                      <ng-container *ngIf="currency != 'COP'">
                                        <span class="text-danger mr-3" *ngIf="item.precio_antes_dolares >= 1">
                                          <del>${{item.precio_antes_dolares}}</del>
                                        </span>
                                        <span><b>${{item.precio_dolar}}</b></span>
                                      </ng-container>
                                      <ng-container *ngIf="currency == 'COP'">
                                        <span class="text-danger mr-3" *ngIf="item.precio_antes_soles >= 1">
                                          <del>{{item.precio_antes_soles | currency:'COP ':"$"}}</del>
                                        </span>
                                        <span><b>{{item.precio | currency:'COP ':"$"}}</b></span>
                                      </ng-container>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="new_productos.length == 0">
                    <div class="col-12 text-center">
                      <h3>No se encontraron productos que mostrar</h3>
                    </div>
                </div>
            </div>
            <div class="ps-section__footer"><a class="ps-link--under" [routerLink]="['/productos']">{{ 'inicio.item_seis' | translate }}</a></div>
        </div>
    </div>
<!--Blog-->
    <div class="ps-home-blog" style="padding-top: 70px !important;padding-bottom: 70px !important;background: #f0f0f0;">
      <div class="container">
          <div class="ps-section__header">
              <figure>
                  <figcaption>{{ 'inicio.item_doce' | translate }}</figcaption>
                  <p>{{ 'inicio.item_trece' | translate }}</p>
              </figure>
          </div>
          <div class="ps-section__content">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                      <div class="ps-post">
                          <div class="ps-post__thumbnail"><img src="assets/images/home/blog_1.jpg" alt=""><a
                              class="ps-post__overlay" [routerLink]="['/nosotros']"  ></a></div>
                          <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/nosotros']">{{ 'inicio.item_catorce' | translate }}</a>
                              <a class="ps-link--under ps-post__morelink" [routerLink]="['/nosotros']"> {{ 'menu.item_siete' | translate }}</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><img src="assets/images/home/blog_3.jpg" alt=""><a
                            class="ps-post__overlay" [routerLink]="['/embajadoras']"></a></div>
                        <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/embajadoras']">
                            {{ 'inicio.item_quince' | translate }}
                        </a>
                            <a class="ps-link--under ps-post__morelink" [routerLink]="['/embajadoras']"> {{ 'menu.item_nueve' | translate }}</a>
                        </div>
                    </div>
                </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                      <div class="ps-post">
                          <div class="ps-post__thumbnail"><img src="assets/images/home/blog_2.jpg" alt=""><a
                              class="ps-post__overlay" [routerLink]="['/impacto-social']" ></a></div>
                          <div class="ps-post__content"><a class="ps-post__title" [routerLink]="['/impacto-social']" >
                            {{ 'inicio.item_dieciseis' | translate }}
                          </a>
                              <a class="ps-link--under ps-post__morelink" [routerLink]="['/impacto-social']">  <a class="ps-link--under ps-post__morelink" [routerLink]="['/embajadoras']"> {{ 'menu.item_ocho' | translate }}</a></a>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
   </div>

   <div class="ps-section--instagram">
    <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0"
         data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="3" data-owl-item-sm="4"
         data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="off">
        <div class="ps-block--instagram"><img src="assets/images/home/blog_2.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_2.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_2.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_2.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_2.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_3.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
        <div class="ps-block--instagram"><img src="assets/images/home/blog_3.jpg" alt=""><a href="#"><i
            class="fa fa-instagram"></i></a></div>
    </div>
    </div>
</div>

<app-footer></app-footer>