
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotros</h5>
        <h3>Una empresa orientada a la ecología</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit blanditiis aperiam pariatur, nostrum, nihil voluptatum esse quas exercitationem molestiae provident doloribus iste fugiat! Illo, eius. Voluptatibus magni temporibus aut inventore.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Si quieres salir de lo convencional y optar por nuevas alternativas en iluminación sumandote a las miles de personas que han decididdo aportar con sus acciones a cuidar el planeta, esta marca es para ti.</p>
        </blockquote>
        <figure><small>LOREM IPSUM</small>
          <h4>Fundador y CEO</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Lamparas alimentadas 100% con energía solar</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea mollitia quos sed numquam, hic quod unde blanditiis est, quia modi perferendis, odit qui ipsam neque iusto deserunt libero eveniet.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Productos Certificados</h3>
          <p>En Silicio sabemos lo importante que es para nuestros clientes ofrecer productos de calidad y es por eso que nuestros 
            dispositivos cumplen con las reglamentaciones Retie/Retilap que aseguran el buen desempeño y respaldo en todos los proyectos donde se implementen.
          </p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>