
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotros</h5>
        <h3>Una empresa orientada a la ecología</h3>
        <p>
          Nuestra empresa está dedicada a promover la transición hacia un futuro más sostenible y respetuoso con el medio ambiente, a través del uso de energía renovable y limpia. Nos enfocamos en la energía solar como fuente principal, ya que es abundante, económica y no produce emisiones contaminantes que afecten al medio ambiente. Nos encargamos de diseñar e instalar sistemas de paneles solares y tecnología relacionada, tanto para hogares como para empresas y organizaciones. Ofrecemos soluciones personalizadas y adaptadas a las necesidades de cada cliente, ya sea para reducir los costos de energía o para contribuir al cuidado del planeta.
Además, nuestro equipo de expertos se encarga del mantenimiento y monitoreo de los sistemas instalados, para asegurar su funcionamiento óptimo y prolongar su vida útil. Trabajamos con productos de alta calidad y tecnología de última generación, para ofrecer resultados efectivos y duraderos.
Creemos en el potencial de la energía solar como una herramienta clave para la creación de un futuro más sostenible y mejor para todos. Por eso, nos esforzamos por innovar y mejorar continuamente nuestros servicios y promover la conciencia sobre la importancia de la energía limpia y renovable en nuestra sociedad.
        </p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Si quieres salir de lo convencional y optar por nuevas alternativas en iluminación sumandote a las miles de personas que han decididdo aportar con sus acciones a cuidar el planeta, esta marca es para ti.</p>
        </blockquote>
        <figure><small>E. Fabián P.</small>
          <h4>Fundador y CEO</h4>
          <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p> -->
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Lamparas alimentadas 100% con energía solar</h3>
        <p>
          Nuestros productos son diseñados para funcionar con energía solar, aprovechando la fuente más abundante y limpia de energía 
          de la Tierra. Nos enorgullece ofrecer soluciones innovadoras y eficientes que no solo benefician al medio ambiente, 
          sino que también ahorran dinero a nuestros clientes a largo plazo. Desde luces de jardín hasta kits de energía solar, 
          nuestros productos están diseñados para funcionar con un panel solar integrado que carga una batería interna durante el día
           y suministra energía durante la noche o en días nublados. La tecnología avanzada y los materiales de alta calidad 
           aseguran una larga durabilidad y un rendimiento óptimo.
           Además de su funcionalidad y eficiencia, nuestros productos son fáciles de instalar y usar, sin necesidad de enchufes o 
           cables eléctricos complicados. Son ideales para hogares, jardines, campamentos, barcos y cualquier otro lugar donde 
           se necesite energía sostenible y confiable. Creemos en el poder de la energía solar para transformar el mundo y estamos 
           comprometidos a ofrecer soluciones de alta calidad y tecnología de punta para nuestros clientes. Siendo más amigables 
           con el medio ambiente y ahorrando dinero nunca ha sido tan fácil y accesible como lo es hoy con nuestros productos de 
           energía solar
        </p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Productos Certificados</h3>
          <p>En Silicio sabemos lo importante que es para nuestros clientes ofrecer productos de calidad y es por eso que nuestros 
            dispositivos cumplen con las reglamentaciones Retie/Retilap que aseguran el buen desempeño y respaldo en todos los proyectos donde se implementen.
          </p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>